<table>
    <tr valign="top">
        <td>
        <b>Greenfield-подход:</b> <br>
        «Переход с нуля» - реорганизация и упрощение процессов
        Заблаговременное определение методов миграции
        Снижение времени окупаемости и совокупной стоимости владения (TCO)
        Более быстрое внедрение инноваций
        </td>
        <td>
        <b>Brownfield-подход:</b> <br>
        Миграция на Oracle без повторного внедрения и без нарушения существующих бизнес-процессов
        Подход постепенного внедрения
        Позволяет переоценить настройку и существующие потоки процессов
        </td>
    </tr>
</table>

