<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title> Greenfield Approach</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span>
                </a>
            </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('history') }}">History
                </a>
            </li>
            
            {% if current_user.is_anonymous %}
                
                <li class="nav-item active">
                    <a href="{{ url_for('login') }}">Login</a>
                </li>

            {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user', username = current_user.username) }}"> Profile </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            
            {% endif %}
        </ul>
    </div>
</nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %} 
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </body>
</html>