{% extends "base.html" %}
<body>
{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>

{% for post in posts %}
    <h4 style = "margin: 0; padding-left: 0.3%;"> 
        Случайный факт № {{ post.id }} (поделился 
        <a href="{{ url_for ('user', username = post.author.username) }}"> 
            {{ post.author.username }} 
        </a>):
    </h4>
    <p style = "margin: 0; padding-left: 1%; padding-right: 1%">
        {{ post.body }}
    </p>
{% endfor %}

<br><br>

<nav aria-label="Page navigation example" style="padding-left: 0.3%">
    <ul class = "pagination pagination-lg">
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a>
        {% endif %}
    </ul>
</nav>


</body>

{% endblock %}