{% extends "base.html" %}

{% block content %}
<head>
    <style type="text/css">
   .auth { 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 0.3%;
   }
    </style>
</head>

<body>
<div class="auth">
    <h1>Sign in</h1>
    <form action="" method="post" accept-charset="utf-8" novalidate>
        <!--token field for CSRF defence--> 
        {{ form.hidden_tag() }} 
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size = 32) }}
            {% for error in form.username.errors %}
                <span style="color: red;"> [{{ error }}] </span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size = 32) }}
            {% for error in form.password.errors %}
                <span style="color: red;"> [{{ error }}] </span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    <p>
        New User? <a href="{{ url_for('register') }}">Click to Register!</a>
    </p>

    <p>
    Forgot Your Password?
    <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
    </p>
</div>
</body>
{% endblock %}
