{% extends "base.html" %}

{% block content %}
<div class = table style = "padding-left: 1%">
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1> User {{ user.username }} </h1>
                {% if user.about_me %}
                    <p>
                        {{ user.about_me }}
                    </p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        Last seen on: {{ user.last_seen }}
                    </p>
                {% endif %}
                {% if user  == current_user %}
                    <p>
                        <a href = "{{ url_for('edit_profile') }}">Edit your profile</a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
    <hr>
    {% if user  == current_user %}
        {% if form %}
            <form action="" method="post" accept-charset="utf-8" style = "padding-left: 1%">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(cols = 64, rows = 4) }} <br>
                    {% for error in form.post.errors %}
                        <span style = 'color: red;'>[{{ error }}] </span>
                    {% endfor %}
                </p>
                <p>
                {{ form.submit() }}
                </p>
            </form>
        {% endif %}
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

<nav aria-label="Page navigation example" style="padding-left: 0.3%">
    <ul class = "pagination">
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a>
        {% endif %}
    </ul>
</nav>

{% endblock %}